.center-logo {
    
    margin-top: 50px;
    margin-left: 710px;
    width: 50px; /* Agrega una propiedad de ancho */;
    display: flex;
    height: 60px;
     
  }
  .titulo{
    color: #07478bd6; /* Cambia el color del texto */
    font-size: 30px; /* Cambia el tamaño de la fuente */
    font-family:monospace;
    text-align: center;
    /*margin-top: 3px;*/
    
}

.formulario {
    width: 200px; /* Establece un ancho fijo para el formulario */
    margin-left: 560px ; /* Centra horizontalmente el formulario */
    margin-top: 30px;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    
  }

  .formulario input {
    display: block;
    margin-bottom: 5px;
    margin-top: 0px;
    border-radius: 20px;
    height: 6vh; 
    width: 50vh;/* Aprovecha toda la altura de la pantalla */
    line-height: 1.5;
  }
  .formulario label {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  